* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90vw;
  gap: 10px;
}

.panel {
  background-size: cover;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  color: white;
  flex: 0.5;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease-in;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.panel h3.img-text {
  font-size: 20px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.panel.active {
  flex: 5;
}

.panel.active h3.img-text {
  opacity: 1;
}
